.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
	height: 0;
	zoom: 1;
	display: block;
}

.tc-wrapper {
	width: 1200px;
	margin: 0 auto;
}

a {
	color: #fff;
}

body {
	min-width: 1220px;
}